name: Quality checks

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lint-command:
          - npm run lint-js
          - npm run lint-css
          - npm run lint-md-urls-relative
          - npm run lint-md
          - npm run lint-md-consistency
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Install dependencies
        run: npm ci
      - name: Ensure consistency
        run: ${{ matrix.lint-command }}
